:host {
  display: block;
}
.body{
  margin: 0 15px;
  height: auto;
  
}


.modal{
  display: block;
  background: #FFFCEC;
  padding: 10px;
  border-radius: 10px;
  overflow:hidden;
 
}
span{
  color: #EB593C;
  font-weight: bold;
  font-size: 1.3em;
}

.label{
  color: #4d1403;
  font-size: 15px;
}
.inputPop{
  color: #EB593C;
  border-radius: 3px;
  margin: 5px 0 5px 25px;
}

.confirm{
    box-shadow: inset 0px 1px 0px 0px #77eb94;
    background: linear-gradient(to bottom, #2bdb48 5%, #02640f 50%);
    background-color: #0aee3b;
    border-radius: 15px;
    border: 1px solid #013f1d;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    padding: 5px 5px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #854629;
    margin-left: 70%;
    width: 60px;

}
.confirm:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}
.cancel{
    box-shadow: inset 0px 1px 0px 0px #eb7b77;
    background: linear-gradient(to bottom, #EB593C 5%, #a8260c 50%);
    background-color: #ee380a;
    border-radius: 15px;
    border: 1px solid #013f1d;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    padding: 5px 5px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #854629;
    margin-left: 5%;
    width: 60px;

}
.cancel:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}


h3,h5 {
 margin: 0;
}
