/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/

body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-color: #feeaea;

  /* position: fixed; */
}

app-home{
  background: #A21441;
background: -moz-linear-gradient(top,  #A21441 0%, #9b0232 44%, #6d0019 100%);
background: -webkit-linear-gradient(top,  #A21441 0%,#9b0232 44%,#6d0019 100%);
background: linear-gradient(to bottom,  #A21441 0%,#9b0232 44%,#6d0019 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A21441', endColorstr='#6d0019',GradientType=0 );

  padding: 10px ;
  /* background: #A21441; */
  width:80%;
  height: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 20px;
  transition: visibility Os linear 0.25s, opacity 0.25s Os, transform 0.25s;
  height: auto;
  overflow: auto;
}


