:host {
  display: block;
}

div{
  background: rgb(136, 221, 221);
  border-radius: 10px;
  padding: 10px 0 0 15px;
  
}
label {
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.1;
  margin: 10px 0;
}

.myButton {
  box-shadow: inset 0px 1px 0px 0px #cf866c;
  background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  background-color: #d0451b;
  border-radius: 3px;
  border: 1px solid #942911;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  padding: 9px 6px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #854629;
  margin-left: 80%;
  margin-bottom: 10px;
}
.myButton:hover {
  background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  background-color: #bc3315;
}
.myButton:active {
  position: relative;
  top: 1px;
}


/* Button used to open the contact form - fixed at the bottom of the page */
.openButton {
  box-shadow: inset 0px 1px 0px 0px #4159e2;
  background: linear-gradient(to bottom, #102e7a 5%, #126bdf 100%);
  background-color: rgb(85, 85, 85);
  color: white;
  font-family: Arial;
  padding: 9px 6px;
  text-shadow: 0px 1px 0px #2f2985;
  border-radius: 3px;
  border: 1px solid #113a94;
  cursor: pointer;
  opacity: 0.8;
  /* position: fixed; */
  bottom: 10px;
  left: 10px;
  width: 50px;
}

.openButton:hover {
  background: linear-gradient(to bottom, #3773e2 5%, #021980 100%);
  background-color: #082bf3;
}
.openButton:active {
  position: relative;
  top: 1px;
}
