:host {
  display: block;
}

div {
  background:#ABDCD6;
  border-radius: 10px;
  padding-left:  15px;
  margin-bottom: 10px;
  font-family: cursive;
}
.outDiv{
  padding-top: 15px;
}
label {
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.1;
  margin: 10px 0;
  font-family: cursive;
}
span{
  color: #EB593C;
  font-weight: bold;
}
.delete {
  box-shadow: inset 0px 1px 0px 0px #EB593C;
  background: linear-gradient(to bottom, #EB593C 5%, #a8260c 50%);
  background-color: #EB593C;
  border-radius: 15px;
  border: 1px solid #942913;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: cursive;
  font-size: 13px;
  padding: 6px 6px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #854626;
  margin-left: 75%;
  margin-bottom: 10px;
  width: 60px;
}
.delete:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}
.delete:active {
  position: relative;
  top: 1px;
}

.editbtn{
  box-shadow: inset 0px 1px 0px 0px #77eb94;
  background: linear-gradient(to bottom, #2bdb48 5%, #02640f 50%);
  background-color: #0aee3b;
    border-radius: 15px;
    border: 1px solid #6b1805;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: cursive;
    font-size: 13px;
    padding: 6px 6px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #854629;
    margin-top: 5px;
    width: 60px;
}
.editbtn:hover {
   box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}