:host {
  display: block;
}

div {
  padding: 5px 15px 5px 15px;
  margin-bottom: 10px;
  font-family: Arial;
  border-radius: 5px;
  background: linear-gradient(#8bc2bc, #abdcd6);
}
.outDiv {
  padding-top: 15px;
  border-radius: 10px;
  background: linear-gradient(#98d3cc, #6f9e99);
}
label {
  margin: 10px 0;
  line-height: 1.1;
  font-weight: bold;
  font-size: 1rem;
  font-family: system-ui, sans-serif;
  font-family: Arial;
  color: #1c2574;
}
.round {
  background: linear-gradient(#009786, #00a693);
}

span {
  color: #1c2574;
  font-weight: bold;
}
.delete {
  text-shadow: 0px 1px 0px #854626;
  text-decoration: none;
  padding: 6px 6px;
  font-size: 13px;
  font-family: Arial;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  box-shadow: inset 0px 1px 0px 0px #eb593c;
  border: 1px solid #02640f;
  border-radius: 15px;
  background: linear-gradient(to bottom, #eb593c 5%, #911901 50%);
  background-color: #eb593c;

  width: 60px;
}
.delete:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset, rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
  transform: scale(1.05);
}
.delete:active {
  position: relative;
  top: 1px;
}

.editbtn {
  width: 60px;
  text-shadow: 0px 1px 0px #854629;
  text-decoration: none;
  padding: 6px 6px;
  font-size: 13px;
  font-family: Arial;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  box-shadow: inset 0px 1px 0px 0px #77eb94;
  border: 1px solid #6b1805;
  border-radius: 15px;
  background: linear-gradient(to bottom, #2bdb48 5%, #02640f 50%);
  background-color: #0aee3b;
}
.editbtn:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset, rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
  transform: scale(1.05);
}

.container {
  display: flex;
  justify-content: space-between;
}
