.app-home {
  padding: 10px;
}

.header {
  width: 100%;
  text-align: center;
  height: 100px;
  background-position-y: center;
  background-size: 50% 135%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-image: url(/assets/todo-list.png);
}

#loader {
  padding-top: 15%;
  margin-bottom: 10px;
  height: 250px;
  font-family: Arial;
  border-radius: 5px;
  border-radius: 10px;
  background: linear-gradient(#98d3cc, #6f9e99);
}
b {
  font-size: 150%;
  margin-left: 43%;
}

.rotate {
  width: 100px;
  margin-top: 0;
  margin-left: 43%;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  background-image: url(/assets/isloading.png);
  animation: rotation 8s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
#noloader {
  display: none;
}
